* {
    padding: 0;
    margin: 0;
}

.Helpdesk {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    background-color: white;
    /* gap: 50px; */
    height: 70px;
    /* border: 2px solid red; */
    -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
    z-index: 5;
}
.designedit {
    margin: 0;
    padding: 20px;
}

#tiid {
    background-color: #1e8ad2;
    height: 20px;
    width: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 15px;
    font-size: 16px;
    margin-right: 16px;
    margin-left: 10px;
    font-weight: 300;
    font-family: "roboto", sans-serif;
    border: none;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

#deletebutton {
    background-color: red;
    height: 20px;
    width: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    font-weight: 300;
    font-family: "roboto", sans-serif;
    border: none;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

.maindiv {
    /* border: 2px solid red; */
}

.Helpdesk > img {
    height: 70px;
    width: 200px;
    object-fit: cover;
    margin-left: 5%;
}

.loginbtn {
    width: 80px;
    height: 40px;
    margin-right: 8%;
    margin-top: 1%;
    /* margin-left: 15%; */
    background-color: #1e8ad2;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-family: "Roboto", sans-serif;
    box-shadow: inset 0px 0px 0px 1px #1e8ad2;
    border: none;
    cursor: pointer;
}

    .loginbtn:hover {
        background-color: #fff;
        color: #1e8ad2;
        /* border: 2px solid #1e8ad2; */
    }

.contentall {
    /* border: 2px solid black; */
    height: 800px;
    display: flex;
}

.sideoption {
    width: 18%;
    /* border: 2px solid orangered; */
    background-color: #1e8ad2;
    display: flex;
    flex-direction: column;
}

    .sideoption > span {
        height: 60px;
    }

        .sideoption > span > h3 {
            font-size: 22px;
            font-weight: 300;
            letter-spacing: 0px;
            font-family: Roboto, sans-serif;
            color: white;
            margin-top: 10%;
            text-align: center;
            cursor: pointer;
        }

        .sideoption > span > h4 {
            font-size: 25px;
            font-weight: 300;
            letter-spacing: 0px;
            font-family: Roboto, sans-serif;
            color: white;
            margin-top: 6%;
            margin-left: 29%;
            /* text-align: center; */
            cursor: pointer;
        }

        .sideoption > span > h5 {
            font-size: 25px;
            font-weight: 300;
            letter-spacing: 0px;
            font-family: Roboto, sans-serif;
            color: white;
            margin-top: 6%;
            margin-left: 28%;
            /* text-align: center; */
            cursor: pointer;
        }

        .sideoption > span > h3:hover {
            color: black;
        }

        .sideoption > span > h4:hover {
            color: black;
        }

        .sideoption > span > h5:hover {
            color: black;
        }

.maindata {
    /* border: 2px solid palegreen; */
    width: 82%;
    display: flex;
    flex-direction: column;
    /* margin-left: 1%; */
}

.ticketsdata {
    height: 25%;
    width: 100%;
    display: flex;
    /* border: 2px solid red; */
}

.card1 {
    display: flex;
    height: 150px;
    width: 280px;
    /* border: 2px solid red; */
    background-color: #eee539;
    border-radius: 5px;
    margin-left: 1%;
    margin-top: 1%;
}

.imgi > img {
    /* border: 2px solid red; */
    width: 48px;
    height: 58px;
    /* margin-right: 5%; */
    object-fit: cover;
    margin-top: 35%;
    margin-left: 30%;
    opacity: 0.8;
}

img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

.col {
    display: flex;
    flex-direction: column;
    color: white;
    /* border: 2px solid red; */
    width: 180px;
}

    .col > h1 {
        margin-top: 12%;
        margin-left: 7%;
        font-weight: 300;
        letter-spacing: 0px;
        font-family: Roboto, sans-serif;
    }

    .col > p:hover {
        color: black;
    }

    .col > p {
        margin-top: 16%;
        margin-left: 8%;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 0px;
        font-family: Roboto, sans-serif;
        cursor: pointer;
    }

.card2 {
    display: flex;
    height: 150px;
    width: 300px;
    /* border: 2px solid red; */
    background-color: #007bff;
    border-radius: 5px;
    margin-left: 1%;
    margin-top: 1%;
}

.imgii > img {
    width: 50px;
    height: 50px;
    /* margin-right: 5%; */
    /* border-radius: 50%; */
    object-fit: cover;
    margin-top: 39%;
    margin-left: 60%;
    opacity: 1.5;
}

img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

.col {
    display: flex;
    flex-direction: column;
    color: white;
    /* border: 2px solid red; */
    width: 180px;
}

    .col > h1 {
        margin-top: 12%;
        margin-left: 7%;
        font-weight: 300;
        letter-spacing: 0px;
        font-family: Roboto, sans-serif;
    }

    .col > p {
        margin-top: 10%;
        margin-left: 8%;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 0px;
        font-family: Roboto, sans-serif;
        cursor: pointer;
    }

.card3 {
    display: flex;
    height: 150px;
    width: 300px;
    /* border: 2px solid red; */
    background-color: #20c997;
    border-radius: 5px;
    margin-left: 1%;
    margin-top: 1%;
}

.imgii > img {
    /* border: 2px solid red; */
    width: 100px;
    height: 80px;
    margin-right: 5%;
    /* border-radius: 50%; */
    object-fit: cover;
    margin-top: 18%;
    opacity: 0.5;
}

img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

.col {
    display: flex;
    flex-direction: column;
    color: white;
    /* border: 2px solid red; */
    width: 180px;
}

    .col > h1 {
        margin-top: 12%;
        margin-left: 7%;
        font-weight: 300;
        letter-spacing: 0px;
        font-family: Roboto, sans-serif;
    }

    .col > p {
        margin-top: 10%;
        margin-left: 8%;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 0px;
        font-family: Roboto, sans-serif;
        cursor: pointer;
    }

.card4 {
    display: flex;
    height: 150px;
    width: 300px;
    /* border: 2px solid red; */
    background-color: #df452ad0;
    border-radius: 5px;
    margin-left: 1%;
    margin-top: 1%;
}

.imgii > img {
    /* border: 2px solid red; */
    width: 50px;
    height: 50px;
    /* margin-right: 5%; */
    /* border-radius: 50%; */
    object-fit: cover;
    margin-top: 40%;
    margin-left: 60%;
    opacity: 0.5;
}

img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: pointer;
}

.col {
    display: flex;
    flex-direction: column;
    color: white;
    /* border: 2px solid red; */
    width: 180px;
}

.heading {
    margin-top: 1%;
    margin-left: 40%;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0px;
    font-family: Roboto, sans-serif;
    cursor: pointer;
}

    .heading:hover {
        color: #007bff;
    }

.line {
    width: 20%;
    height: 1px;
    background-color: #1e8ad2;
    border-radius: 5px;
    margin-top: 1%;
    margin-left: 5%;
    cursor: pointer;
}

    .line:hover {
        color: black;
    }

.table-wrapper {
    margin: 10px 70px 70px;
}

.headingc {
    margin-top: 2%;
    height: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: 200;
    font-family: "Robot", sans-serif;
}


.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

    .fl-table td,
    .fl-table th {
        text-align: center;
        padding: 8px;
    }

    .fl-table td {
        border-right: 1px solid #e3bbbb;
        font-size: 12px;
    }

    .fl-table thead th {
        font-size: 16px;
        font-weight: 300;
        font-family: "Robot", sans-serif;
        color: black;
        background: white;
    }

        .fl-table thead th:nth-child(odd) {
            color: black;
            background: #1e8ad2;
        }

    .fl-table tr:nth-child(even) {
        background: #d2d4d6;
    }

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }

    .table-wrapper:before {
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }

    .fl-table thead,
    .fl-table tbody,
    .fl-table thead th {
        display: block;
    }

        .fl-table thead th:last-child {
            border-bottom: none;
        }

    .fl-table thead {
        float: left;
    }

    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }

    .fl-table td,
    .fl-table th {
        padding: 20px 0.625em 0.625em 0.625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }

    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }

    .fl-table tbody tr {
        display: table-cell;
    }

        .fl-table tbody tr:nth-child(odd) {
            background: none;
        }

    .fl-table tr:nth-child(even) {
        background: transparent;
    }

    .fl-table tr td:nth-child(odd) {
        background: #f8f8f8;
        border-right: 1px solid #e6e4e4;
    }

    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #e6e4e4;
    }

    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}


.graph {
    /* border: 2px solid rgb(71, 165, 42); */
    width: 100%;
    height: 100%;
}

.te {
    /* border: 2px solid green; */
    width: 50%;
    margin-left: 18%;
    /* margin-left: -5%;   */
}

.pie-wrap {
    /* border: 2px solid purple; */
    width: 250px;
    height: 250px;
    /* left: 8%; */
    right: 45%;
    top: 50px;
    /* margin-left: 20px; */
    /* margin: 10% 50px; */
    /* position: relative; */
    border-radius: 50%;
    color: black;
    -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

    .pie-wrap .entry {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

.sky-blue {
    background-color: #007bff;
    height: 50%;
    width: 50%;
    display: block;
    /* border: 2px solid black; */
    /* opacity: 0.8; */
}

.light-yellow {
    background-color: white;
    height: 50%;
    width: 50%;
    /* opacity: 0.8; */
}

.pink {
    background-color: #007bff;
    height: 50%;
    width: 50%;
    top: 0;
    right: 0;
    position: absolute;
    clip-path: polygon(0 0, 100% 0%, 0% 100%);
}

.purple {
    background-color: white;
    height: 50%;
    width: 50%;
    right: 0;
    top: 0;
    position: absolute;
    /* opacity: 0.8; */
    clip-path: polygon(0% 100%, 100% 0%, 100% 100%);
}

.green {
    background-color: #007bff;
    height: 50%;
    width: 50%;
    right: 0;
    top: 50%;
    /* opacity: 0.8; */
    position: absolute;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
}

.wheat {
    background-color: white;
    height: 50%;
    width: 50%;
    right: 0;
    top: 50%;
    position: absolute;
    clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
}

.pie-wrap .purple p {
    position: absolute;
    top: 80px;
    left: 80px;
    /* color: white; */
}

    .pie-wrap .purple p:first-child {
        top: 100px;
    }

.pie-wrap .green p {
    position: absolute;
    left: 80px;
    top: 20px;
}

    .pie-wrap .green p:first-child {
        top: 40px;
    }

.pie-wrap .pink p {
    position: absolute;
    left: 30px;
    top: 50px;
}

    .pie-wrap .pink p:first-child {
        top: 30px;
    }

.pie-wrap .wheat p {
    position: absolute;
    left: 20px;
    top: 80px;
}

    .pie-wrap .wheat p:first-child {
        top: 100px;
    }

.pie-wrap {
    border: 2px solid lightgrey;
    width: 300px;
    height: 300px;
    margin-left: 25%;
    /* margin-top: 1%; */
    /* margin: 10% 50px; */
    position: relative;
    border-radius: 50%;
    color: black;
    font-size: 14px;
    font-weight: 300;
    overflow: hidden;
}

.entry .entry-value {
    display: none;
    transition: all 500ms linear;
}

.green:hover {
    background-color: red;
    width: 40%;
    height: 50%;
    color: black;
    -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
    /* border: 10px solid black; */
}

.entry:hover .entry-value {
    cursor: pointer;
}

.entry {
    transition: all 500ms linear;
}

    .entry:hover {
        filter: invert();
        cursor: pointer;
    }

.graph-container {
    width: 80%;
    height: 380px;
    background-color: #f2f2f2;
    margin-left: 10%;
    border-radius: 5px;
    /* margin-top: 5%; */
    margin-top: 3%;
    /* border: 2px solid red; */
    -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.bari {
    display: flex;
    height: 300px;
    margin-left: 5%;
    margin-top: 5%;
    align-items: flex-end;
    /* border: 2px solid rgb(71, 165, 42); */
    margin-left: 10%;
}

.bar {
    /* border: 2px solid rebeccapurple; */
    width: 40px;
    margin-right: 20px;
    height: 120px;
    border-radius: 2px;
    background-color: #1e8ad2;
    position: relative;
    cursor: pointer;
}

    .bar:hover {
        background-color: white;
        /* border: 2px solid #007bff; */
    }

    .bar span {
        position: absolute;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        bottom: -20px;
        width: 100%;
        text-align: center;
        font-size: 12px;
        font-weight: 300;
        font-family: Roboto, sans-serif;
    }

footer {
    /* border: 2px solid black; */
    height: 80px;
    display: flex;
    /* background-color: #3a4fec; */
    /* gap: 400px; */
    /* width: 80%; */
    /* margin-left: 10%; */
    /* margin-top: 5%; */
    -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
    /* background-color: #54595f; */
}

    footer > h5 {
        /* border: 2px solid rebeccapurple; */
        font-size: 25px;
        letter-spacing: 0;
        line-height: 20px;
        margin-top: 2%;
        margin-left: 5%;
        font-family: Roboto, sans-serif;
        font-weight: 300;
    }

    footer > p {
        font-size: 20px;
        letter-spacing: 0;
        line-height: 20px;
        margin-top: 3%;
        margin-left: 5%;
        font-family: Roboto, sans-serif;
        font-weight: 300;
        color: #657385;
    }

.credex {
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 0.7%;
    margin-left: 20%;
}

    .credex > p {
        /* margin-left: 10%;   */
        margin-top: 3%;
    }

.phon {
    display: flex;
    margin-top: 3.7%;
}

    .phon > p {
        margin-top: -4%;
    }

    .phon > img {
        width: 30px;
        height: 20px;
        margin-top: -4%;
    }

.ema {
    display: flex;
    margin-top: 3.7%;
    gap: 10px;
}

    .ema > p {
        margin-top: -4%;
    }

    .ema > img {
        width: 30px;
        height: 20px;
        margin-top: -4%;
        /* margin-top: ; */
    }

.dropdownfile {
    float: left;
    overflow: hidden;
}

    .dropdownfile .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

.dropbtn > a {
    font-size: 25px;
    text-decoration: none;
    color: white;
    font-weight: lighter;
    font-family: Robot, sans-serif;
    margin-left: 30%;
}

/*
.trianle {
    width: 10px;
    height: 10px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 50px solid red;
}*/



.dropdown-content {
    display: none;
    position: absolute;
    background-color: lightblue;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    /* border: 2px solid red; */
    margin-left: 4%;
}

    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: 16px;
        font-weight: 300;
        font-family: Robot, sans-serif;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

.dropdownfile:hover .dropdown-content {
    display: block;
}

.my-linki {
    margin-top: 10px;
    color: white;
    font-family: Roboto,sans-serif;
    margin-left: 10px;
    font-weight: 300;
    text-decoration: none !important;
    font-size: 25px;
}

.my-link {
    margin-top: 20px;
    color: white;
    font-family: Roboto,sans-serif;
    margin-left: 10px;
    font-weight: 300;
    text-decoration: none !important;
    font-size: 25px;
}

    .my-link:hover {
        cursor: pointer;
        color: black;
    }

.m {
    width: 68%;
}
