.Delete {
    width: 30%;
    margin-left: 30%;
    height: 30%;
    margin-top: 1%;
    -webkit-box-shadow: 1px 2px 5px 0px rgba(104, 92, 92, 0.75);
}

.head {
    height: 80px;
    background-color: #1e8ad2;
    border: 2px solid #1e8ad2;
}

    .head > h3 {
        font-size: 25px;
        font-weight: 300;
        font-family: Roboto, sans-serif;
        margin-left: 11%;
        margin-top: 5%;
        color: white;
    }

.dl {
    border: 1px solid grey;
    width: 60%;
    margin-left: 20%;
    height: 40%;
    margin-top: 5%;
}

.d {
    margin-left: 20%;
    font-size: 20px;
    font-weight: 300;
    font-family: Roboto, sans-serif;
    margin-top: 2%;
}

.dele {
    width: 40%;
    height: 14%;
    margin-left: 25%;
    margin-top: 12%;
}


.btncancel {
    color: white;
    background-color: #1e8ad2;
    padding: 10px;
    height: 10%;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 20%;
}
