<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Navbar.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar">
        <img src="~/Image/UIdesign/Helpdesk.jpg" alt="image" />
        <ul>
            <li>
                <a href="#home">Home</a>
            </li>
            <li>
                <a href="#about">About</a>
            </li>
            <li>
                <a href="#service">Our Services</a>
            </li>
        </ul>
        <div class="loginbtn">
            <a href='@Url.Action("Index", "Login")'>Login</a>
        </div>
    </nav>

    <div>
        @RenderBody()
    </div>
</body>
</html>
