* {
    padding: 0;
    margin: 0;
}

.nav {
    height: 70px;
    display: flex;
    -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

    .nav > img {
        width: 200px;
        height: 70px;
        object-fit: cover;
        margin-left: 5%;
    }

.logoutbtn {
    width: 80px;
    height: 40px;
    margin-left: 65%;
    margin-top: 1%;
    background-color: #1e8ad2;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-family: "Roboto", sans-serif;
    box-shadow: inset 0px 0px 0px 1px #1e8ad2;
    cursor: pointer;
}

.main {
    display: flex;
    flex-direction: column;
}



.mainc {
    margin-left: 15%;
    width: 80%;
}

.TicketButton {
    width: 180px;
    height: 60px;
    margin-top: 250px;
    margin-left: 400px;
    background-color: #1e8ad2;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-family: "Roboto", sans-serif;
    box-shadow: inset 0px 0px 0px 1px #1e8ad2;
    cursor: pointer;
}

    .TicketButton:hover {
        color: black;
        background-color: white;
    }

.image {
    display: flex;
    width: 1200px;
    height: 200px;
    margin-top: 10%;
}

    .image > img {
        width: 300px;
        height: 100px;
        object-fit: contain;
        cursor: pointer;
    }

        .image > img:hover {
            opacity: 0.8;
            padding: 5px 5px 5px 5px;
        }

footer {
    height: 100px;
    display: flex;
    -webkit-box-shadow: 1px 2px 5px 0px rgba(104, 92, 92, 0.75);
    -moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

    footer > h5 {
        font-size: 25px;
        letter-spacing: 0;
        line-height: 20px;
        margin-top: 3%;
        margin-left: 3%;
        font-family: Roboto, sans-serif;
        font-weight: 300;
    }

    footer > p {
        font-size: 20px;
        letter-spacing: 0;
        line-height: 20px;
        margin-top: 3%;
        margin-left: 5%;
        font-family: Roboto, sans-serif;
        font-weight: 300;
        color: #657385;
    }

.credex {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 0.7%;
    margin-left: 3%;
}

    .credex > p {
        margin-top: 4%;
    }

.phon {
    display: flex;
    width: 280px;
    margin-left: -35%;
    margin-top: 3%;
}

    .phon > img {
        width: 30px;
        height: 20px;
    }

.ema {
    display: flex;
    margin-top: 3%;
}

    .ema > img {
        width: 30px;
        height: 20px;
    }
